@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

body{
    font-family: "Roboto", 'Pretendard', sans-serif;
    background-color: #000;
}
a{
    outline: none;
}

/* 공통부분 */
.container{
    width: 100%;
    max-width: 100%;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(8px);
    z-index: 999;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    &.active{
        border-bottom-color: rgb(134, 77, 237);
    }
    .header-left{
        display: flex;
        align-items: center;
        .homeBox{
            margin-right: 40px;
            a{
                color: #fff;
                font-size: 32px;
                transition: 0.3s;
                font-family: "Comfortaa", sans-serif;
                font-weight: bold;
            }
            a:hover{
                color: rgb(134, 77, 237);
            }
        }
        .menuBox{
            nav{
                ul{
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    padding-left: 0;
                    gap: 40px;
                    li{
                        a{
                            color: #fff;
                            font-weight: 600;
                            font-size: 18px;
                            transition: 0.3s;
                        }
                        a:hover{
                            color: rgb(134, 77, 237);
                        }
                    }
                }
            }
        }
    }
    .header-right{
        display: flex;
        align-items: center;
        a{
            color: #fff;
            font-weight: 600;
            font-size: 18px;
            transition: 0.3s;
            margin-left: 20px;
        }
        a:hover{
            color: rgb(134, 77, 237);
        }
    }
}
footer{
    padding: 50px;
    height: 200px;
    border-top: 1px solid rgb(134, 77, 237);
    p{
        color: rgb(134, 77, 237);
        font-size: 20px;
        margin-bottom: 0;
        font-weight: 300;
        a{
            color: rgb(134, 77, 237);
            font-size: 32px;
            font-weight: bold;
            font-family: "Comfortaa", sans-serif;
        }
        &:first-child{
            margin-bottom: 10px;
        }
        &:last-child{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 20px;
            span{
                display: flex;
                gap: 10px;
                svg{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
.spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
    visibility: visible;
    inset: 0;
    .spinner-border{
        color: rgb(134, 77, 237);
    }
    &.fade-out{
        opacity: 0;
        visibility: hidden;
    }
}
#spinnerContainer{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0.9);
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
}

/* 메인 */
main{
    .main-container{
        display: flex;
        justify-content: space-between;
        height: 780px;
        .main-left{
            display: flex;
            align-items: center;
            padding-left: 10%;
            width: 30%;
            .ml-inner{
                position: absolute;
                z-index: 1;
                h1{
                    color: #fff;
                    font-size: 64px;
                    max-width: 500px;
                }
                p{
                    color: #fff;
                    font-size: 24px;
                    max-width: 500px;
                    height: 186px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 5;
                }
            }
        }
        .main-right{
            width: 70%;
            padding-right: 10%;
            padding-bottom: 60px;
            background-image: url('https://s4.anilist.co/file/anilistcdn/media/anime/banner/5114-q0V5URebphSG.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            transition: 0.3s;
            &::before{
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, transparent 50%, rgba(0,0,0,1) 100%);
                position: absolute;
            }
            &::after{
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(90deg, rgba(0,0,0,1) 0%, transparent);
                position: absolute;
            }
            .mr-inner{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                width: 100%;
                height: 100%;
                .swiper{
                    width: 700px;
                    margin: 0;
                    .swiper-slide{
                        width: 276px;
                        aspect-ratio: 1 / 1.43;
                        a{
                            background-color: #ccc;
                            display: block;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            border-radius: 10px;
                            overflow: hidden;
                            user-select: none;
                            
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}
section{
    padding: 80px 190px;
    &>div>h2{
        margin-bottom: 60px;
    }
}
.main-section1{
    h2{
        color: #fff;
        font-weight: bold;
        font-size: 32px;
    }
    &>div{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px;
    }
    .day-left{
        width: 200px;
        height: 283px;
        padding: 30px 0 20px;
        .swiper{
            height: 100%;
            .swiper-slide{
                a{
                    font-weight: bold;
                    font-size: 32px;
                    width: 100%;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    user-select: none;
                }
            }
        }
    }
    .day-right{
        width: calc(100% - 240px);
        position: relative;
        .swiper{
            width: 100%;
            .swiper-slide{
                width: 200px;
                a{
                    width: 100%;
                    display: block;
                    user-select: none;
                    img{
                        background-color: #ccc;
                        width: 100%;
                        height: 100%;
                        aspect-ratio: 1 / 1.43;
                        object-fit: cover;
                        border-radius: 10px;
                        margin-bottom: 10px;
                    }
                    p{
                        color: #fff;
                        font-size: 20px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                }
            }
        }
    }
}
.main-section2,.main-section3{
    h2{
        color: #fff;
        font-weight: bold;
    }
    &>div{
        width: 100%;
        .swiper{
            width: 100%;
            .swiper-slide{
                width: 200px;
                a{
                    width: 100%;
                    display: block;
                    user-select: none;
                    img{
                        background-color: #ccc;
                        width: 100%;
                        height: 100%;
                        aspect-ratio: 1 / 1.43;
                        object-fit: cover;
                        border-radius: 10px;
                        margin-bottom: 10px;
                    }
                    p{
                        color: #fff;
                        font-size: 20px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                }
            }
        }
    }
}
#day-spinner{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    z-index: 10;
    display: none;
}