@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.inner-left{
    width: 350px;
    background-color: black;
    padding: 0 20px;
    a{
        color: white;
    }
    div:first-child{
        a{
            font-family: "Pacifico", cursive;
            display: block;
            text-align: center;
            font-size: 25px;
            svg {
                transform: rotate(0deg);
            };
            svg text {
                transform: translate(-50px, -35px);
                text-anchor: middle;
                fill: white;
                font-size: 30px;
                offset: 50%;
            };
        }
    }
    div:nth-child(2){
        ul{
            li{
                margin-bottom: 25px;
                a{
                    font-size: 20px;
                    text-transform: uppercase;
                }
            }
        }
    }
    div:last-child{
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        a{
            svg{
                width: 30px;
                height: 30px;
            }
        }
    }
}
.inner-right{
    background-image: url(./image/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(100% - 350px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.3);
    }
    &>div{
        text-align: center;
        z-index: 1;
        h1{
            color: white;
            font-size: 40px;
            margin-bottom: 30px;
        }
        a{
            border: 1px solid white;
            padding: 14px 50px;
            color: white;
            font-size: 18px;
            display: inline-block;
        }
    }
}